.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.moved-aside
*.xcuserstate
/tmp/
/artifacts/
/.cursor/
/docs/
